ul{
    display: inline;
    float: right;
}
    li{
        display: inline;
    justify-content: space-between;
    margin: 10px;
}
    span{
        color: orangered;
    }
    body{
        background-color: azure;
    }
    nav{margin-bottom: 10px;
        padding-bottom: 5px;
    }
    .name{
        padding: 30px 20px 30px 100px
    }
    .achive{
        background-color: black;
        height: 400px;
        color: white;
        text-align: center;
        padding-top: 2px;
    
    }
    img{
        height: 30px;
        width: 30px;
    }
    .a{
        height: 200px;
        width: 200px;
        background-color: white;
        color: black;
        border: 2px solid;
        border-radius: 30px;
    }
    .out{
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
    }
    .h4{
        text-align: center;
        padding-top: 4px;
    }
    .skill-out{
        height: 6px;
        width: 400px;
        background-color: gray;
    }
    .skill-html{
        height: 6px;
        width: 350px;
        background-color: red;
    }
    .one{
        height: 6px;
        width: 325px;
        background-color: red;
    }
    .two{
        height: 6px;
        width: 300px;
        background-color: red;
    }
    .three{
        height: 6px;
        width: 385px;
        background-color: red;
    }
    .four{
        height: 6px;
        width: 350px;
        background-color: red;
    }
    .five{
        height:6px;
        width:395px;
        background-color: red;
    }
    .six{
        height:6px;
        width: 125px;
        background-color: red;
    }
    .seven{
        height:6px;
        width:100px;
        background-color: red;
    }
    .in{
        display: flex;
        justify-content: space-around;
        padding-top: 35px;
    }
    .c{
        text-align: center;
    }
    .achive1{
        background-color: black;
        height: 250px;
        color: white;
        text-align: center;
        padding-top: 2px;
    
    }